html
    head
        title URL Shortener
        
    body
        #content(style='margin-left: 300px; margin-top: 100px')
            #title(style='font-size: 150%')
                h1 API Basejump: URL Shortener Microservice
            #userstories
                ul(style='font-size: 150%; width: 990px')
                    li User Story: I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
                    li(style='margin-top: 10px') User Story: If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
                    li(style='margin-top: 10px') User Story: When I visit that shortened URL, it will redirect me to my original link.
            #examples
                h3(style='font-size: 145%') Example usage:
                p(style='color: red; font-size: 125%') 
                p(style='color: red; margin-top: -20px; font-size: 125%') 
            #examples
                h3(style='font-size: 145%') Example output:
                p(style='color: red; font-size: 125%') 
